
{% load static %}

<header id="header">
    <div class="container">
        <div class="wrapper header-bg">
            <h3 class="logo">
            
            
            {% if user.is_superuser %}
            <a href="{% url 'index' %}"> <img src="https://www.toshstat.uz/images/toshstatlogo.png" alt=""></a>
            {% else %}
            <img src="https://www.toshstat.uz/images/toshstatlogo.png" alt="">
                
            {% endif %}
                
                
          
                
            </h3>
            <nav id="nav">
                <ul>
                    
                    {% if request.user.is_superuser %}
                    <li><a href="{% url 'index' %}" class="active">Home</a></li>
                    {% endif %}
                    <li style="color:rgb(20, 125, 10)"><b style="font-size: large;" >{{ request.user }}</b></li>
                    <li><a href="{% url 'login' %}"> login</a></li>
                    <li><a href="{% url 'register' %}">register</a></li>
                    <li><a href="{% url 'logout' %}">LogOut</a></li>
                    <li><a href="#" style="color: red;"><span class="lnr lnr-cart" style="color:cornsilk"></span> {{ count_pdf }}</a></li>
                </ul>
            </nav>
        </div>
    </div>
   </header>

    