{% load static %}

<header id="header">
    <div class="container">
        <div class="wrapper header-bg">
            <h3 class="logo">
                Statistika
            </h3>
            <nav id="nav">
                <ul>
                    <li><a href="pages/home.php" class="active">Home</a></li>
                    <li><a href="pages/about.php">About</a></li>
                    <li><a href="pages/service.php">Service</a></li>
                    <li><a href="pages/project.php">Project</a></li>
                    <li><a href="#"><span class="lnr lnr-cart"></span></a></li>
                    <li><a href="/login">login</a></li>
                    <li><a href="/register">register</a></li>
                </ul>
            </nav>
        </div>
    </div>
   </header>

    