{% extends 'base.html' %}
{% load static %}

{% block content %}
<!-- only style for paginator  -->

<section class="ftco-section">
    <div class="container">
       {{ pdf_none }}
        <div class="row">
            <div class="col-md-12">
                <div class="table-wrap">
                  <table class="table">
                    <thead class="thead-primary">
                      <tr>
                       
                        <th>Sana</th>
                        <th>Eslatma</th>
                        <th>Xolati</th>
                        <th>File</th>
                        <th>Tasdiqlash</th>
                      </tr>
                    </thead>
                    <form action="{% url 'pdf_cut' %}" method="POST">
                      {% csrf_token %}
                      <tbody>
                        {% for pdf in page_obj %}
                        <tr>
                        
                          <td>{{ pdf.created_date }}</td>
                          <input type="hidden" value={{ pdf.id }} name="pdf_id">
                          <input type="hidden" value={{ pdf.image_pdf }} name="imagefile">
                          <td>{{ pdf.pdfs_name }}</td>
                          <td>{{ pdf.pdfs_state }}</td>
                          <td><a href="http://64.226.66.47:8000{{ pdf.image_pdf.url }}">Ochish</a></td>
                          <td><a class="btn btn-primary" href="http://64.226.66.47:8000/pdf_cut/?pdf_id={{pdf.id}}">Imzolash</a></td>
                        </tr>
                        {% endfor %}
                      </tbody>
                    </form>
                  </table>
                </div>
            </div>
            <div class="container" style="display: flex; justify-content: center; margin-top: 50px; gap:1rem;">
              <div class="pagination">
                <span class="step-links">
                  {% if page_obj.has_previous %}
                    <a href="?page=1" class="circle btn btn-primary" style="padding: 10px 15px;">&laquo; Birinchi</a>
                    <a href="?page={{ page_obj.previous_page_number }}" class="circle btn btn-primary" style="padding: 10px 15px;">Oldingi&raquo;</a>
                  {% endif %}
                  <span class="current" style="background-color: lightblue; color: darkblue; padding: 10px;">
                    {{ page_obj.number }}-bet
                  </span>
                  {% if page_obj.has_next %}
                    <a href="?page={{ page_obj.next_page_number }}" class="circle btn btn-primary" style="padding: 10px 15px;">Keyingi &raquo;</a>
                    <a href="?page={{ page_obj.paginator.num_pages }}" class="circle btn btn-primary" style="padding: 10px 15px;">Oxirgi &raquo;</a>
                  {% endif %}
                </span>
                <hr>
              </div>
            </div>
            <hr> 
            <br>
            <p>
              <b>Jami saxifa:</b> <b>{{ page_obj.paginator.num_pages }}</b>
            </p>
        </div>
    </div>
</section>

{% endblock content %}
