{% extends 'base.html' %}
{% load static %}

{% block content %}

<style>
  body {
    background-color: #f2f2f2;
    font-family: Arial, sans-serif;
  }
  
  h1 {
    color: #007bff;
    text-align: center;
  }
  
  ul {
    list-style-type: none;
    padding: 0;
    margin-top: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  li {
    margin: 10px;
  }
  
  a {
    display: inline-block;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
  }
  
  a:hover {
    background-color: #0056b3;
  }
</style>

<h1>Zip fayllar</h1>
<ul>
  {% for zip in zipimagepart %}
  
  <li><a href="{{ zip.zipfile.url }}" download>{{ zip.id }}.{{ zip.zipfile }}</a></li>

  {% endfor %}


</ul>


{% endblock content %}
    