{% extends 'base.html' %}
{% load static %}

{% block content %}
    <style>
      /* Bu CSS qismi fillarlar uchun izohli stili belgilaydi */
      .fillar {
        width: 100px;
        height: 100px;
        background-color: #f5f5f5;
        border: 1px solid #ccc;
        margin: 10px;
        padding: 10px;
        box-sizing: border-box;
        float: left;
      }
      .fillar img {
        max-width: 100%;
        height: auto;
      }
      .fillar h3 {
        margin-top: 0;
        font-size: 18px;
      }
      .fillar p {
        margin: 10px 0;
        font-size: 14px;
        line-height: 1.5;
      }
    </style>

  
  <body>

<form action="page_delete/" method="GET" > 
      
    {% for pdf in imagepart %}
        <div class="fillar">
          
          <a href="http://127.0.0.1:8000/{{ pdf.oneimage.url }}">Open</a> <br>
          <a href="http://127.0.0.1:8000/page_delete/?pdf_id={{pdf_id}}&page_id={{ pdf.id }} ">Delete</a>
            <br><b>{{ pdf.title }}</b>          
        </div>
     {% endfor %}

     
</form>

 <form action="create_zip/" method="POST">
  {% csrf_token %}
  <input type="hidden" name="pdf_id" value="{{ pdf_id }}">
  <button type="submit" >Junatish</button>
 </form>
   

    <!-- Boshqa fillarlar shu usul bilan qo'shilishi mumkin -->
  </body>

{% endblock content %}
    