{% extends 'base.html' %}
{% load static %}


{% block content %}

    <style>
        
        .download-btn {
            display: block;
            margin-top: 10px;
            padding: 6px 12px;
            background-color: #008CBA;
            color: #fff;
            border: none;
            border-radius: 4px;
            cursor: pointer;
          }
          
          .download-btn:hover {
            background-color: #005f77;
          }

        table {
            border-collapse: collapse;
            width: 100%;
          }
          
          th, td {
            text-align: left;
            padding: 8px;
          }
          
          th {
            background-color: #f2f2f2;
            color: #333;
            font-weight: bold;
            text-transform: uppercase;
          }
          
          td {
            background-color: #fff;
            color: #333;
          }
          
          tbody tr:nth-child(even) td {
            background-color: #f2f2f2;
          }
          
          tbody tr:hover {
            background-color: #ddd;
          }
          
          @media screen and (max-width: 600px) {
            table, thead, tbody, th, td, tr { 
              display: block; 
            }
          
            thead tr { 
              position: absolute;
              top: -9999px;
              left: -9999px;
            }
          
            tr { border: 1px solid #ccc; }
          
            td { 
              border: none;
              border-bottom: 1px solid #eee; 
              position: relative;
              padding-left: 50%; 
            }
          
            td:before { 
              position: absolute;
              top: 6px;
              left: 6px;
              width: 45%; 
              padding-right: 10px; 
              white-space: nowrap;
            }
          
            td:nth-of-type(1):before { content: "Zip:"; }
            td:nth-of-type(2):before { content: "City:"; }
            td:nth-of-type(3):before { content: "State:"; }
            
            .download-btn {
              display: block;
              margin-top: 10px;
              padding: 6px 12px;
              background-color: #008CBA;
              color: #fff;
              border: none;
              border-radius: 4px;
              cursor: pointer;
            }
          }
          
          
    </style>
    <table>
        <thead>
          <tr>
            <th>Zip</th>
            <th>Sana</th>
            <th> yuklash </th>
          </tr>
        </thead>
       <tbody>
          <form method="POST"> 
             {% csrf_token %}
            {% for zip in page_obj %}
            <input type="hidden" value="{{ zip.id }}" name="zip_id">
                        <tr>
                        <td>{{ zip.zipfile }}</td>
                         <td> {{ zip.created_date }}</td>
                         <input type="hidden" name="zip_id" value={{ zip.id }} id="">
                        <td>
                        <button class="download-btn"  type="submit" >
                            <a  href="{{ zip.zipfile.url }}" type="submit" style="color:cornsilk" download>Download</a>
                        </button>
                        </td>
                        </tr>
            {% endfor %}
          </form>
        </tbody>
      </table>
             
      
      <div class="pagination">
        <span class="step-links">
            {% if page_obj.has_previous %}
                <a href="?page=1" style="color:rgb(189, 49, 14)">&laquo; Birinchi</a> ||
                <a  href="?page={{ page_obj.previous_page_number }}" >Oldingi:</a>
            {% endif %}
    
            <span class="current">
              {{ page_obj.number }}-bet
          </span>
  
            {% if page_obj.has_next %}
                <a href="?page={{ page_obj.next_page_number }}">:Keyingi</a> || 
                <a href="?page={{ page_obj.paginator.num_pages }}" style="color:rgb(177, 32, 10)">Oxirgi &raquo;</a>
            {% endif %}
        </span>
      </div>

      <b>Jami saxifa:</b> <b>{{ page_obj.paginator.num_pages }}</b>

      
      
{% endblock content %}
    
